In [2]:
import pandas as pd
import numpy as np
from funk_svd import SVD
from sklearn.metrics import mean_absolute_error
import matplotlib as plt

In [5]:
# Data pipeline
PATH = r"D:\Projects\moveilens"
df_rating = pd.DataFrame(pd.read_csv(fr"{PATH}\rating.csv"))
pivoted_df = df_rating.iloc[:50000].pivot(index="userId", columns="movieId", values='rating')

In [6]:
user_item = pivoted_df.values
#user_item[np.isnan(user_item)] = 0
print(user_item)

[[nan 3.5 nan ... nan nan nan]
 [nan nan 4.  ... nan nan nan]
 [4.  nan nan ... nan nan nan]
 ...
 [nan nan nan ... nan nan nan]
 [nan 4.  nan ... nan nan nan]
 [4.5 4.  nan ... nan nan nan]]

In [7]:
df_rating.rename(columns={'userId': 'u_id', 'movieId': 'i_id'}, inplace=True)
train = df_rating.sample(frac=0.8)
val = df_rating.drop(train.index.tolist()).sample(frac=0.6)
test = df_rating.drop(train.index.tolist()).drop(val.index.tolist())

In [8]:
test.head(10)

    u_id  i_id  rating            timestamp
10     1   293     4.0  2005-04-02 23:31:43
29     1  1193     3.5  2005-04-02 23:31:30
34     1  1208     3.5  2005-04-02 23:33:35
37     1  1217     3.5  2005-04-02 23:33:30
38     1  1219     4.0  2004-09-10 03:13:14
44     1  1258     4.0  2004-09-10 03:13:14
49     1  1278     4.0  2004-09-10 03:13:06
74     1  2173     4.0  2005-04-02 23:51:27
81     1  2542     4.0  2005-04-02 23:44:07
99     1  3030     3.0  2005-04-02 23:29:08

In [11]:
# Constants
LEARNING_RATE = 0.007
EPOCH = 10
LATENT_FACTORS = 20
REG = 0.005

In [ ]:
# Training
model_svd = SVD(lr=LEARNING_RATE, reg=REG, n_epochs=EPOCH, n_factors=LATENT_FACTORS, early_stopping=False, shuffle=False, min_rating=1, max_rating=5)
model_svd.fit(X=train, X_val=val)

Preprocessing data...

Preprocessing data...

In [ ]:
# Testing
predicted = model_svd.predict(test)
metric = mean_absolute_error(test['rating'], predicted)
print(f'Test MAE: {metric:.2f}')

In [ ]:
predicted = model_svd.predict()
print(predicted)